h1,
h2 {
  text-align: center;
  color: darkgreen;
}

body {
  background-color: goldenrod;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
  border-style: groove;
  text-align: center;
}

#display {
  width: 70%;
}

#slider {
  width: 50%;
}

#length {
  display: inline-block;
  width: 100px;
}
