h1,
h2 {
  text-align: center;
  color: rgb(255, 123, 0);
}

body {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-abstract-rectangle-border-vector-background-image_134506.jpg");

  font-family: "Fredoka One", cursive;
}

.gen-container {
  width: 1000px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#passbox {
  background-color: rgb(15, 11, 73);
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
  border-style: groove;
  text-align: center;
  color: rgb(255, 123, 0);
  border-color: hotpink;
}

#display {
  width: 100%;
  background-color: silver;
}

#slider {
  width: 50%;
}

#length {
  display: inline-block;
  width: 100px;
}
